<script type="text/javascript" src="/js/page/index.js"></script>
<div class="main-block">
<div class="page-loading">
    <div id="jSplash">
        <div id="ball"></div>
        <div id="ball-0"></div>
        <div id="ball-1"></div>
    </div>
</div>
<div class="page-index">
    <div class="page-left"><div class="left-wrap">

        <div class="role-create-room"><input type="button" class="button role-show-create-room" value="创建房间">
        <div class="role-create-room-wrapper">
            <label>房间名: </label><input type="text" class="textbox role-create-room-name"> <label>最大人数: </label><input type="text" class="textbox role-create-room-max" value="10"> <input type="button" class="button button-def role-create-room-button" value="创建">
        </div>
        </div>

        <div class="module module-rooms">
            <div class="module-content">
            
            </div>
        </div>
        
    </div></div>
    <div class="page-right">
        
        <div class="module module-profile">
            <div class="module-content">
            <div class="nick"><%= request.session.nick %></div>
            <div class="score">获胜：<%= request.session.data.win %>，失败：<%= request.session.data.lost %></div>
            </div>
        </div>

        <div class="module module-online-users">
            <div class="module-title">在线玩家</div>
            <div class="module-content">

            </div>
        </div>

    </div>
    <div class="clear"></div>
</div>
<div class="page-room">
    <div class="page-left"><div class="left-wrap">

        
        
    </div></div>
    <div class="page-right">
        
        <div class="module module-profile">
            <div class="module-content">
            <div class="nick"><%= request.session.nick %></div>
            <div class="score">获胜：<%= request.session.data.win %>，失败：<%= request.session.data.lost %></div>
            </div>
        </div>

        <div class="module module-room-users">
            <div class="module-title">房间玩家</div>
            <div class="module-content">

            </div>
        </div>

    </div>
    <div class="clear"></div>
</div>
</div>